<% provide(:title, "Help") %>
<h1>
 If you want to know how to create this webapp press "Click" below :)
</h1>
<p style = "text-align: center"><a href="https://www.railstutorial.org/book" class="btn btn-primary btn-lg active" role="button">Click</a></p>