<div class="center jumbotron">
  <h1>Welcome to <strong>MYL</strong></h1>

  <h2>
    This is the home page for the
    <a href= "https://learning-rails-nnagato-1.c9users.io/">Manage Your Life</a> 
    application.
  </h2>

  <%= link_to "Sign up now!", signup_path , class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("18035538-Eco-people-Stock-Vector-tree-icon-life.jpg", alt: "Rails logo"),
            'http://rubyonrails.org/' %>