<footer class="footer">
  <small>
    The <a href="">Manage Your Life</a>
    by <a href="https://github.com/NNagato/Group-CherryBlossom">Cherry Blossom Team</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="">News</a></li>
    </ul>
  </nav>
</footer>